header {
  background-color: #007bff; /* Cor sólida de fundo */
  color: white; /* Cor do texto */
  padding: 20px 0; /* Padding para dar espaçamento */
  text-align: center; /* Alinha o título ao centro */
}
