<header>
  <nav class="navbar">
    <h1>Bem-vindo ao Sistema CRUD</h1>
  </nav>
</header>
<main>
  <div class="container">
    <button
      routerLink="/listarClientes"
      class="btn-cliente"
      aria-label="Listar-Clientes"
    >
      Cliente
    </button>

    <button
      routerLink="/listarProdutos"
      class="btn-produto"
      aria-label="Listar-Produtos"
    >
      Produto
    </button>

    <button
      routerLink="/listarVendas"
      class="btn-venda"
      aria-label="Listar-Vendas"
    >
      Venda
    </button>
  </div>
</main>
